{% extends "menu/connecte.html.twig" %}

{% block body %}
    
    {{ form_start(form) }}
        <div class="columns">    
            <div class="column is-half">
                {{ form_row(form.titre) }}
                {{ form_row(form.description_courte)}}
                {{ form_row(form.description_longue)}}
                {{ form_row(form.prix)}}
                {{ form_row(form.categorie)}}
            </div>

            <div class="column is-half">
                <div class="">
                    <input type="file" name="photo1">
                </div>
                <div class="">
                    <input type="file" name="photo2">
                </div>
                <div class="">
                    <input type="file" name="photo3">
                </div>
                <div class="">
                    <input type="file" name="photo4">
                </div>
                <div class="">
                    <input type="file" name="photo5">
                </div>
                {{ form_row(form.adresse) }}
                {{ form_row(form.cp) }}
                {{ form_row(form.ville) }}
                {{ form_row(form.pays) }}

            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}