{% extends "menu/connecte.html.twig" %}

{% block body %}
    <h1> PROFIL </h1>
    <div class="columns is-centered section">
        <div class="column is-half">
            <p>{{ app.user.civilite == "H" ? "M." : app.user.civilite == "F" ? "Mme" : "Nspp" }}
             {{ app.user.nom ~ " " ~ app.user.prenom }}</p>
            <p>{{ app.user.pseudo|upper }}</p>
            <p>{{ app.user.telephone }}</p>
            <p>{{ app.user.email }}</p>
            <p>Inscrit{{ app.user.civilite == "F" ? "e" : "" }} depuis le {{ app.user.dateenregistrement|date("d/m/Y à H:i:s") }}</p>
        </div>

        <div class="column">
            {% for annonce in mes_annonces %}
                {% include "annonce/vignette.html.twig" with { "annonce": annonce } %}
            {% endfor %}
        </div>
    </div>
{% endblock %}