<div class="columns box">
    <div class="column is-one-quarter">
        <img src="{{ dossier_images_annonces ~ annonce.photo.photo1 }}" class="vignette">
    </div>
    <div class="column">
        <h4>{{ annonce.titre|upper }}</h4>
        <p>{{ annonce.descriptioncourte }}</p>
        <p><span>{{ annonce.membre.pseudo }}</span> <span class="is-pulled-right">{{ annonce.prix }} €</span></p>
    </div>
</div>
<br>
