<div class="columns box">
    <div class="column is-one-quarter">
        <img src="{{ dossier_images_annonces ~ annonce.photo.photo1 }}" class="vignette">
    </div>
    <div class="column">
        <h4>
            <a href="{{ path("annonce_afficher", { id: annonce.id }) }}">{{ annonce.titre|upper }} </a>
            {% if annonce.membre == app.user %}
            <a class="is-pulled-right" 
                    href="{{ path("modifier_annonce", { id: annonce.id }) }}">
                <i class="fa fa-pen"></i>
            </a>
            {% endif %}
        </h4>
        <p>{{ annonce.descriptioncourte }}</p>
        <br>
        <p><span>{{ annonce.membre.pseudo }}</span> <span class="is-pulled-right">{{ annonce.prix }} €</span></p>
    </div>
</div>
<br>
