{% extends 'menu/connecte.html.twig' %}

{% block title %}Notons !{% endblock %}

{% block body %}
    {# {{ form(form) }} #}

    {# {{ form_start(form)}}
        <h2>Veuillez noter cet individu : </h2>
    {{ form_end(form)}} #}

    
    <h1 class="title">Veuillez noter cet individu : </h1>
    <div class="columns section">
        <div class="column is-half">
            <p><strong>Pseudo : </strong>{{ membre.pseudo }}</p>
            <p><strong>Date d'inscription : </strong>{{ membre.dateenregistrement|date("d/m/y") }}</p>
            <p class="columns">
                <strong class="column is-one-third">Annonces : </strong>
                <div class="column">
                {% for annonce in membre.annonces  %}
                    <p>{{ annonce.titre }}</p>
                {% endfor %}
                </div>
            </p>
        </div>

        <div class="column box">
            <h1 class="title has-text-primary has-text-centered">Attribuer une note : </h1>

            {{ form_start(form)}}  
                {{ form_row(form.avis) }}
                {{ form_row(form.note) }}
                {{ form_row(form.noter, { attr: { "class":  "button is-primary is-fullwidth"} }) }}
            {{ form_end(form)}}

        </div>
    </div>

{% endblock %}
