<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags("app") }}
        {% endblock %}
    </head>
    <body>
        {% block nav %}{% endblock %}

        {# MESSAGES #}
        {% for type, message in app.flashes %}
            <div class="has-background-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
        
        {% block body %}
            <main class="columns">
                <aside class="column is-one-quarter">
                    <form id=""  method="POST">
                        <div>
                            <label>Catégorie</label>
                            <select name="categorie">
                                <option value=""></option>
                                {% for cat in categories %}
                                        <option value='{{ cat.id }}'>  {{ cat.titre }} </option>
                                {% endfor %}
                            </select>
                        </div>
                      
                        <div>
                            <label>Membres</label>
                            <select name="membre">
                                <option value=""></option>
                                {% for m in membres %}
                                        <option value='{{ m.id }}'>  {{ m.pseudo }} </option>
                                {% endfor %}                                
                            </select>
                        </div>

                        
                        <button>Filtrer</button>
                    </form>
                </aside>

                <section class="column">
                    {% for ann in annonces %}
                        <p>{{ ann.titre }}</p>
                    {% endfor %}                                
                </section>
            </main>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags("app") }}
        {% endblock %}
    </body>
</html>
