<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags("app") }}
        {% endblock %}
    </head>
    <body>
        {% block nav %}
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a class="navbar-item" href="">
                        <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
                    </a>

                    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    </a>
                </div>

                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item" href="{{path("accueil") }}">
                            Accueil
                        </a>

                        <a class="navbar-item">
                            Documentation
                        </a>

                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                            Catégorie
                            </a>

                            <div class="navbar-dropdown">
                            <a class="navbar-item" href="{{ path('categorie_add') }}">
                                Ajouter
                            </a>
                            <a class="navbar-item">
                                Liste
                            </a>
                            <a class="navbar-item">
                                Contact
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item">
                                Report an issue
                            </a>
                            </div>
                        </div>

                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                            Annonce
                            </a>

                            <div class="navbar-dropdown">
                            <a class="navbar-item" href="{{ path('annonce_add') }}">
                                Ajouter
                            </a>
                            <a class="navbar-item">
                                Liste
                            </a>
                            <a class="navbar-item">
                                Contact
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item">
                                Report an issue
                            </a>
                            </div>
                        </div>
                    </div>

                    <div class="navbar-end">
                        <div class="navbar-item">
                            <div class="buttons">
                            <a class="button is-primary">
                                <strong>Inscription</strong>
                            </a>
                            <a class="button is-light" href="{{ path("app_login") }}">
                                Connexion
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        {% endblock %}

        {# MESSAGES #}
        {% for type, message in app.flashes %}
            <div class="has-background-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
        
        {% block body %}
            <main class="columns">
                <aside class="column is-one-quarter">
                    <form method="POST">
                        <div>
                            <label>Catégorie</label>
                            <select name="categorie">
                                <option value="">Toutes les catégories</option>
                                {% for cat in categories %}
                                        <option value='{{ cat.id }}'>  {{ cat.titre }} </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div>
                            <label>Régions</label>
                            <select name="region">
                                <option value="">Toutes les régions</option>
                                {% for region in regions %}
                                        <option value='{{ region.ville }}'>  {{ region.ville }} </option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div>
                            <label>Membres</label>
                            <select name="membre">
                                <option value="">Tous les membres</option>
                                {% for m in membres %}
                                        <option value='{{ m.id }}'>  {{ m.pseudo }} </option>
                                {% endfor %}                                
                            </select>
                        </div>

                        <div>
                            <label>Prix</label>
                            <input type=range name="prix" min=0 max=10000>
                        </div>
                        
                        <button>Filtrer</button>
                    </form>
                </aside>

                <section class="column">
                    {% for ann in annonces %}
                        <p>{{ ann.titre }}</p>
                    {% endfor %}                                
                </section>
            </main>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags("app") }}
        {% endblock %}
    </body>
</html>
