{% extends "admin_base.html.twig" %}

{% block nav %}
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="">
                <img src="{{ url_dossier_images }}logo.jpg" width="112" height="28">
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
<<<<<<< HEAD
                <a class="navbar-item" href="{{path("accueil") }}">Accueil</a>
=======
                <a class="navbar-item" href="{{path("admin") }}">Accueil</a>
>>>>>>> 0227

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Membre</a>
                    <div class="navbar-dropdown">
<<<<<<< HEAD
                        <a class="navbar-item" href="{{ path("membre_list") }}">Liste  </a>
=======
                        <a class="navbar-item" href="{{ path("membre_list") }}">Liste</a>
>>>>>>> 0227
                        <a class="navbar-item" href="{{ path('membre_add')  }}">Ajouter</a>
                    </div>
                </div>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Catégorie</a>
                    <div class="navbar-dropdown">
<<<<<<< HEAD
                        <a class="navbar-item" href="{{ path("categorie_list") }}">Liste  </a>
=======
                        <a class="navbar-item" href="{{ path("categorie_list") }}">Liste</a>
>>>>>>> 0227
                        <a class="navbar-item" href="{{ path('categorie_add')  }}">Ajouter</a>
                    </div>
                </div>

<<<<<<< HEAD
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Annonce</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{{ path("annonce_list") }}">Liste  </a>
                        <a class="navbar-item" href="{{ path('annonce_add')  }}">Ajouter</a>
=======
                <div class="navbar-item has-dropdown is-hoverable"> 
                    <a class="navbar-link">Annonce</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{{ path("annonce_list") }}">Liste</a>
                        <a class="navbar-item" href="{{ path("annonce_add")  }}">Ajouter</a>
>>>>>>> 0227
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-light" href="{{ path("app_logout") }}">Déconnexion</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}