{% extends "base.html.twig" %}

{% block nav %}
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="">
                    <img src="{{ url_dossier_images }}logo.jpg">
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="{{path("accueil") }}">
                        Accueil
                    </a>

                    <a class="navbar-item">
                        Annonces
                    </a>

                    <a class="navbar-item" href="{{ path("profil") }}">
                        Profil
                    </a>

                    <a class="navbar-item" href="{{ path("admin") }}">
                        &nbsp;
                    </a>

                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                        <a class="button is-light" href="{{ path("app_logout") }}">
                            <span class="icon">
                                <i class="fa fa-sign-out-alt"></i>
                            </span>
                            Déconnexion
                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}