{% extends "base.html.twig" %}

{% block nav %}
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ path("accueil") }}">
                <img src="{{ url_dossier_images }}logo.jpg" >
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            </a>
        </div>

        {# <form>
            <div class="field has-addons">
                <div class="control is-expanded">
                    <input class="input" name="recherche" type="text" placeholder="Search">
                </div>
                <div class="control">
                    <button type="submit" class="button">
                        <span class="icon is-left">
                            <i class="fas fa-search" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
            </div>           
        </form> #}

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{{ path("accueil") }}">Annonces</a>
                <a class="navbar-item" href="{{ path("membres") }}">Membres</a>
            </div>


            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="{{ path("app_register") }}">
                            <span class="icon is-medium" title="Inscription">
                                <i class="fa fa-user-plus fa-lg"></i>
                            </span>
                        </a>
                        <a class="button is-success" href="{{ path("app_login") }}">
                            <span class="icon" title="Connexion">
                                <i class="fa fa-sign-in-alt fa-lg"></i>
                            </span>
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}